{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
	<title>2048</title>
	<script src="{% static 'js/angular.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
</head>

<body ng-app="twoZeroFourEight">
	<div class="container">
	<div>Welcome {{ user.get_full_name }}! 
			    <a href="{% url 'auth:logout' %}?next=/">
						Logout
					</a></div>
		<div id="content" ng-controller = "GameController as ctrl">
			<div id="heading" class="row">
				<h1 class="title">2048</h1>
			    <div class="scores">
			    	<!-- CREATE MODEL FOR SCORES -->
			    </div>
			</div>

			<div id="game-container">
				<!--<div grid ng-model="ctrl.game" class="row">-->
				<div id="game">
  					<div class="grid-container">
    					<div class="cell" ng-repeat="cell in grid track by $index"></div>
    				</div>
  					<div class="tile-container">
  					{% verbatim %}
    					<div ng-repeat='tile in tiles track by $id(tile.id || $index)'>
    						<div ng-if='tile' class="tile position-{{ tile.x }}-{{ tile.y }} tile-{{ tile.value }}" ng-class="{ 'tile-merged' : tile.merged }">
  								<div class="tile-inner">
    								{{ tile.value }}
    								{% endverbatim %}
  								</div>
							</div>
    					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>