body {
	background: #faf8ef;
	font-family: 'Arial';
	color: #776E66;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	display: table;
	margin: 0 auto;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

#heading {
	margin-top: 60px;
}

#game {
	position: relative;
	padding: 15px;
	height: 400px;
	width: 400px;
	background: #bbaaa0;
	box-sizing: border-box;
	border-radius: 6px;
}

.title {
	font-size: 65px;
}