body {
	background: #faf8ef;
	font-family: 'Arial';
	color: #776E66;
    line-height: 1.42857;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

#heading {
	margin-top: 60px;
}

.game-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 40px auto
}

#game {
	position: relative;
	padding: 15px;
	height: 400px;
	width: 400px;
	background: #bbaaa0;
	border-radius: 6px;
	box-sizing: border-box;
}

.grid-container {
	position: absolute;
	margin: 0 auto;
	box-sizing: border-box;
}

.title {
	font-size: 65px;
}

.cell {
	width: 81.25px;
    height: 81.25px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238,228,218,.35);
    z-index: 2;
}

.tile-container {
	position: absolute;
	z-index: 3;
}
.tile {
	position: absolute;
    width: 81.25px;
    height: 81.25px;
    border-radius: 3px;
    line-height: 85px;
    text-align: center;
    font-weight: 700;
    z-index: 10;
    font-size: 50px;
    -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

.tile-container .tile {
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    width: 81.25px;
    height: 81.25px;
    border-radius: 3px;
    transition: 170ms ease-in-out;
    transition-property: transform;
    z-index: 2
}

.tile.position-0-0 {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0)
}

.tile.position-0-1 {
    -webkit-transform: translate(0px,96.25px);
    transform: translate(0px,96.25px)
}

 .tile.position-0-2 {
    -webkit-transform: translate(0px,192.5px);
    transform: translate(0px,192.5px)
}

 .tile.position-0-3 {
    -webkit-transform: translate(0px,288.75px);
    transform: translate(0px,288.75px)
}

 .tile.position-1-0 {
    -webkit-transform: translate(96.25px,0);
    transform: translate(96.25px,0)
}

 .tile.position-1-1 {
    -webkit-transform: translate(96.25px,96.25px);
    transform: translate(96.25px,96.25px)
}

 .tile.position-1-2 {
    -webkit-transform: translate(96.25px,192.5px);
    transform: translate(96.25px,192.5px)
}

 .tile.position-1-3 {
    -webkit-transform: translate(96.25px,288.75px);
    transform: translate(96.25px,288.75px)
}

 .tile.position-2-0 {
    -webkit-transform: translate(192.5px,0);
    transform: translate(192.5px,0)
}

 .tile.position-2-1 {
    -webkit-transform: translate(192.5px,96.25px);
    transform: translate(192.5px,96.25px)
}

 .tile.position-2-2 {
    -webkit-transform: translate(192.5px,192.5px);
    transform: translate(192.5px,192.5px)
}

 .tile.position-2-3 {
    -webkit-transform: translate(192.5px,288.75px);
    transform: translate(192.5px,288.75px)
}

 .tile.position-3-0 {
    -webkit-transform: translate(288.75px,0);
    transform: translate(288.75px,0)
}

 .tile.position-3-1 {
    -webkit-transform: translate(288.75px,96.25px);
    transform: translate(288.75px,96.25px)
}

 .tile.position-3-2 {
    -webkit-transform: translate(288.75px,192.5px);
    transform: translate(288.75px,192.5px)
}

 .tile.position-3-3 {
    -webkit-transform: translate(288.75px,288.75px);
    transform: translate(288.75px,288.75px)
}

 .tile.tile-2 .tile-inner{
    background: #EEE4DA;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

 .tile.tile-4 .tile-inner{
    background: #EAE0C8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

 .tile.tile-8 .tile-inner{
    background: #f2b179;
    color: #f9f6f2;
}

 .tile.tile-16 .tile-inner{
    background: #f59563;
    color: #f9f6f2;
}

 .tile.tile-32 .tile-inner{
    background: #f67c5f;
    color: #f9f6f2;
}

 .tile.tile-64 .tile-inner{
    background: #f65e3b;
    color: #f9f6f2;
}

 .tile.tile-128 .tile-inner{
    background: #edcf72;
    color: #f9f6f2;
    font-size: 45px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}

 .tile.tile-256 .tile-inner{
    background: #edcc61;
    color: #f9f6f2;
    font-size: 45px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

 .tile.tile-512 .tile-inner{
    background: #edc850;
    font-size: 45px;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}

 .tile.tile-1024 .tile-inner{
    background: #edc53f;
    font-size: 37px;
    color: #f9f6f2;  
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);  
}

 .tile.tile-2048 .tile-inner{
    background: #edc22e;
    font-size: 37px;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);

}

@-webkit-keyframes pop {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pop {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.tile-container .tile.tile-merged .tile-inner {
    -webkit-animation: pop 200ms ease-in;
    -ms-animation: pop 200ms ease-in;
    animation: pop 200ms ease-in
}

.scores {
    float: right;
}

.score {
    float: left;
}